.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 0;
}
.nav__item a {
  color: var(--small-text-color);
  font-weight: 500;
  cursor: pointer;
}
.nav__active {
  font-weight: 700 !important;
}

@media only screen and (max-width: 768px) {
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    z-index: 999;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .active__menu {
    display: block;
  }
}