.billing__form {
  margin: 2rem 0;
}
.billing__form .form__group input {
  width: 50%;
  height: 40px;
  border: 1px solid var(--small-text-color);
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.checkout__cart {
  background-color: var(--primary-color);
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.checkout__cart h6 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout__cart button {
  background-color: white;
  color: var(--primary-color);
  width: 100%;
}
