@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/*  css variables */
:root {
  --card-bg-01: #77bfa3;
  --card-bg-02: #98c9a3;
  --card-bg-03: #bfd8bd;
  --card-bg-04: #dde7c7;
  --primary-color: #03071e;
  --hero-bg: #f7d58c;
  --heading-fontSize: 2rem;
  --small-text-color: #b7b7b7;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}
section {
  padding: 30px 0px;
}

.section__title {
  color: var(--primary-color);
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}

.button {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 400;
  margin-top: 2rem;
}

.button:hover {
  background-color: black;
  color: white;
}

.button:hover > a {
  color: white;
}
