.product__details__container img {
  width: 23rem;
  height: 23rem;
  border-radius: 12px;
  box-shadow: 3px 3px 8px -3px rgb(152, 149, 149);
}

.stars {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.related__products h3 {
  margin: 2rem 0;
  color: var(--primary-color);
}




