.ri-heart-2-fill, .ri-shopping-cart-2-fill{
    font-size: 10rem;
    color: var(--primary-color);
}

.empty{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}